<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nate,Birkholz</string>
	<string>Matthew,Brightbill</string>
	<string>Jeff,Chavez</string>
	<string>David,Fry</string>
	<string>Adrian,Petrica Gherle</string>
	<string>Jake,Hawken</string>
	<string>Shams,Kazi</string>
	<string>Cameron,Klein</string>
	<string>Kori,Kolodziejczak</string>
	<string>Parker,Lewis</string>
	<string>Nathan,Ma</string>
	<string>Casey,MacPhee</string>
	<string>Brendan,McAleer</string>
	<string>Brian,Mendez</string>
	<string>Mark,Morris</string>
	<string>Rowan,North</string>
	<string>Kevin,Pham</string>
	<string>Will,Richman</string>
	<string>Heather,Thueringer</string>
	<string>Tuan,Vu</string>
	<string>Zack,Walkingstick</string>
	<string>Sara,Wong</string>
	<string>Hongyao,Zhang</string>
</array>
</plist>
